@charset 'utf-8';

.container{width: 100%;}
.first{width: 100%;}
.first-img{overflow: hidden;width: 100%;display: block;
	height: 200px;}
.first-img{overflow: hidden;height: 200px;width: 100%;}
.first img{height: 200px;width: 100%;}
.first-ul{width: 497px;height: 140px;background-color: #EDEDED;
margin: 0 auto;}
.first-ul li{width: 497px;height:35px;text-align: center; }
.first-ul a{color: #000;font-size: 18px;width: 497px;height:35px;
	display: block;}
.first-ul a:hover{background-color: #008CD6;color: #fff;}
/*走进刚玉*/
.second-left-picture1{position: relative;
width: 72%;overflow: hidden;height: 332px;margin-bottom: 4px;}
.story{width: 44%;height: 184px;position: absolute;
	background-color:rgba(0,140,214,0.7);
right: 0px;bottom: 0px;}
.story-1{margin: 10px 0px 10px 10px;}
.story-2{font-size: 22px;margin: 10px;font-weight: bold;}
.story-3{line-height: 20px;margin: 10px;}
.story a{color: #fff;text-decoration: none;display: block;}
.second-left-picture2{width:100%;height: 238px;position:relative;
	}
.picture21,.picture22{width: 49%;height: 238px;overflow: hidden;
float: left;padding-right: 2px;}
.picture2-1{position: absolute;left:19.3%;bottom: 0;
background-color:rgba(0,140,214,0.7);
height: 30px;color: #fff;width: 30%;bottom:2px;
text-align: center;line-height: 30px;}

.picture2-2{position: absolute;right:1%;
bottom: 2px;background-color:rgba(0,140,214,0.7);
height: 30px;color: #fff;width: 30%;
text-align: center;line-height: 30px;}

.second {width: 497px;margin: 20px auto;}
.zjgy,.xwzx{text-decoration: none;color: #000;}
.second-left-picture2 img{width: 246px;}
.up-left{width: 81%;height: 297px;
overflow: hidden;}
.up-right{margin-bottom: 15px;}
.up-right a{text-decoration: none;color: #666666;font-weight: normal;}
.up-right-p1{color: #000;display: block; font-size: 15px;margin-bottom: 10px;}
.up-right-p3{font-size: 13px;}
.down-left{float: left;width: 60px;height: 68px;border: 1px solid #AAAAAA;}
.down-left span{font-size: 15px;}
.down-left a{font-size: 22px;}
.down-right a{display: block;text-decoration: none;color:#666666; }
.down-right{float: left;width: 420px;height: 74px;margin-left: 15px;}
/*解决方案*/


.third{background-color: #EDEDED;width: 100%;padding-top: 40px;height: 267px;}
.third-center,.forth-center{width: 92%;margin:0 auto;}
.jjfa-up{margin-bottom: 20px;}
.jjfa-up-1,.forth-up-1{display: none;}

.jjfa-up span{font-weight: normal;display: block;}
.jjfa-up a{text-decoration: none;color: #000;display: block;}
.jjfa-up a h1{font-size: 22px;font-weight: normal;margin-bottom: 10px;}	
	
.jjfa-up,.forth-up a{text-decoration: none;color: #000;display: block;
	margin-bottom: 14px;}
.jjfa-up,.forth-up a h1{font-size: 22px;font-weight: normal;}
.jjfa-up,.forth-up span{font-weight: normal;}
.side{display: none;}
.center a{width: 100%;height: 160px;display: block;overflow: hidden;}
/*行业案例*/
.forth-up a{margin-top: 20px;}
.forth-up{margin-bottom: 15px;}
.hyal-center ul{width:496px;height: 230px; }
.hyal-center ul li{width: 247px;height: 45px;float: left;margin-bottom: 1px;
line-height: 45px;margin-right: 1px;}
.hyal-center ul li a{float: left;text-decoration: none;color: #000;display: block;
width: 252px;height: 45px;background-color: #EDEDED;
;width: 100%;}
.hyal-center ul li a:hover{background-color:#008CD6; color: #fff;}
.hyal-center ul li a span{display: inline-block;text-indent: 50px;}
.center{position: relative;}
.center-1{position: absolute; top:0;left: 0;z-index:3;
width: 45%;height: 70px;background-color: #008CD6;
color: #fff;padding: 20px 0 20px 20px;}
.center-1 span{margin-bottom: 10px;display: block;}
.center-2{position: absolute; bottom:0;left: 0;
width: 96%;height: 50px;background-color:rgba(0,0,0,0.7);z-index:2;
color: #fff;padding: 20px 0 20px 20px;}
.center-2 p{font-size: 13px;line-height: 24px;
margin-left: -10px;margin-top: -2px;}

.li1-1{display: inline-block;width: 35px;height: 35px;
background-image: url(image/case_ico.png);background-repeat: no-repeat;
margin-top: 8px;margin-bottom: 10px;transition: all ease-in 0.3s;
vertical-align: middle;margin-left: 30px;}
.li2{display: inline-block;height: 35px;
width: 35px;background-image: url(image/case_ico.png);
background-repeat: no-repeat;
margin-top: 8px;margin-bottom: 10px;
vertical-align: middle;
margin-left: 30px;}
.ico2{background-position: 0 -68px;}
.ico3{background-position: 0 -130px;}
.ico4{background-position: 0 -194px;}
.ico5{background-position: 0 -256px;}
.ico6{background-position: 0 -323px;}
.ico7{background-position: 0 -385px;}
.ico8{background-position: 0 -448px;}
.ico9{background-position: 0 -578px;}
.ico10{background-position: 0 -514px;}
.hyal-last{background-color: red;margin-top: 2px;}
.hyal-last img{width: 100%;height: 149px;overflow: hidden;}
.hyal-last-right{background-color: #666666;width: 100%; overflow: hidden;}
.hyal-last-right ul{width: 80%;display: block;float: left;}
.hyal-last-right li{color: #fff;font-size: 16px;padding: 5px 10px;}
.hyal-last-right a{color: #fff;text-decoration: none;display: block;
width: 20%;}
.forth{margin-bottom: 20px;}
/*下面是服务支持*/
.fifth{max-width: 640px;margin: 50px auto;height: 335px;}
.fifth-center{padding: 0 15px 0 35px;position: relative;
	border: 1px solid #DCDCDC;width: 84.5%;margin: 0 auto;}
.fifth-title h1{font-size: 22px;padding-top: 40px;
	display: inline-block;}

.fifth-title span{color: #000;display: block;}
.fifth-title-1{ display: none;}
.fifth-main{margin-top: 20px;}
.fifth-main li{width: 81%;height: 70px;}

.fifth-center-img{display: none;}
